<ion-modal-view class="product edit create">
          <form name="itemEdit" novalidate>
            <ion-header-bar class="bar-clear fix-buttons custom-blue">
              <a class="button custom-blue" ng-click="closeModal()">Cancel</a>
              <h1 class="title">Add Event</h1>
            </ion-header-bar>
            <ion-content has-bouncing="true" class="custom-gold">
              <div class="row" ng-class="{'no-padding-top': !data.editItem}">
                <div class="col">
                  <label class="item item-input large">
                    <input type="text" placeholder="Event Title" name=Title ng-model="newsdata.Title" required>
                  </label>
                </div>
              </div>

                <!--
              <div class="editable-image horizontal-image">
                <div class="add"><i class="icon ion-upload"></i>
                  <div class="instructions">Tap to upload photo</div>
                </div>
              </div>

-->

             <div class="row">
                <div class="col">
                  <label class="item item-input large">
                    <input type="text" placeholder="Date" name=Date ng-model="newsdata.Date" required>
                  </label>
                </div>
              </div>

                 <div class="row">
                <div class="col">
                  <label class="item item-input large">
                    <input type="text" placeholder="Twitter/IG (@) Handle" name="socialHandle" ng-model="newsdata.socialHandle">
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label class="item item-input large">
                    <input type="text" placeholder="Price" name="Price" ng-model="newsdata.Price">
                  </label>
                </div>
              </div>
              <div class="row description-row">
                <div class="col">
                  <label class="item item-input text">
                    <textarea placeholder="Description" rows="5" ng-model="newsdata.Details" ng-Required="true" name="Details" lose-focus-on-return required></textarea>
                  </label>
                </div>
              </div>

              <div class="row charity-row">
                <div class="col col-10 vert-center">
                  <div class="charity large"></div>
                </div>
              </div>

            <ion-button class="button button-block button-clear custom-blue" ng-click=>
                Post Event
            </ion-button>

            </ion-content>
          </form>
        </ion-modal-view>
