<ion-view hide-nav-bar="true">
    <ion-content class="login">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      

      <a href = "#/signup" class="button button-clear custom-blue" style="width: 75%; margin: 20px ;">
        Sign Up
      </a>

      <a href = "#/signin" class="button button-clear custom-blue" style="width: 75%; margin: 20px ;">
        Sign In
      </a>

    </ion-content>
</ion-view>
