<ion-view title="Welcome to AggiesLand">
  <ion-nav-bar class="custom-blue">
    <ion-content>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



      <a href = "#/signup" class="button button-clear custom-blue" style="width: 100%; margin: 20px 0;">
        Sign Up
      </a>

      <a href = "#/signin" class="button button-clear custom-blue" style="width: 100%; margin: 20px 0;">
        Sign In
      </a>

    </ion-content>
    </ion-nav-bar>
</ion-view>
