<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="custom-blue">
    <ion-nav-bar class="bar-clear custom-blue">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="custom-blue" side="left">
      <!--
    <ion-header-bar class="bar-positive custom-blue">  
    </ion-header-bar>

-->
    <ion-content class= "custom-blue">
      <ion-list>
          <ion-item style="height:250px;">
          <div id="profile-info">
          <img id="profile-image" src="{{currentUser.get('profile_pic').get('url')}}">
          <h6 id="profile-name">Hello, {{currentUser.get('username')}}</h6>
        </div>
          </ion-item>
        <ion-item menu-close  href="#/app/home">
       Home
        </ion-item>
        <ion-item menu-close ion-calendar  href="#/app/events">
          Events
        </ion-item>
          
          <!--
        <ion-item menu-close href="#/app/events/add-events">
          Add An Event
        </ion-item>

-->
        <ion-item menu-close href="#/app/routes">
          Routes
        </ion-item>
        <ion-item menu-close href="#/app/sports">
          Sports
        </ion-item>     
        <ion-item menu-close style="custom-blue" href="#/app/feed">
          Twitter Feed
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
