<ion-view view-title="Events">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-plus" ng-click="addEvent()"></button>
	</ion-nav-buttons>
 <ion-content class="custom-gold">

    <ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="doRefresh()" >
		</ion-refresher >

    <div class="list card" ng-repeat="item in items | orderBy: '-createdAt'"
	      			item="campusitem"
	      			href="#/campusevents/create/{{item.objectId}}">
 <div class="item item-avatar">
    <img src={{item.CreatedBy.profile_pic.url}}>
    <h2>{{item.CreatedBy.username}}</h2>
    <p>{{item.createdAt | date:"medium"}}</p>
  </div>

      <!-- Image File -->
      <div class="item item-image" >
	     <img src="{{item.imageFile.url}}" >
	      <h2>{{item.Title}}</h2>
	      <p>{{item.Date}}</p>
          <p>{{item.Price}}</p>
          <p>{{item.socialHandle}}</p>
          <div class="item item-text-wrap">{{item.Details}}</div>
        <!--  <p>{{item.Details}}</p> -->
      </div>

     
<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="flagEvent()">
      <i class="icon ion-ios-flag"></i>
        Flag Event
    </a>
  </div>
      </div>
     </ion-content>
</ion-view>
