<ion-view view-title="Bus Routes">
  <ion-content class="custom-gold">

 	<div class="list">
	 	<ion-item href="#" onclick="window.open('http://www.rideheat.com/sites/www.rideheat.com/files/pdf/71MF.pdf', '_blank', 'location=yes'); return false;">71 - East/West</ion-item>
	 	<ion-item href="#" onclick="window.open('http://www.rideheat.com/sites/www.rideheat.com/files/pdf/71SS.pdf', '_blank', 'location=yes'); return false;">71 - East/West (Weekend Schedule)</ion-item>
	 	<ion-item href="#" onclick="window.open('http://www.rideheat.com/sites/www.rideheat.com/files/pdf/72_0.pdf', '_blank', 'location=yes'); return false;">72 - City HEAT</ion-item>
	 	<ion-item href="#" onclick="window.open('http://www.rideheat.com/sites/www.rideheat.com/files/pdf/73%20update.pdf', '_blank', 'location=yes'); return false;">73 - UNCG HEAT</ion-item>
	 	<ion-item ng-href="http://www.rideheat.com/sites/www.rideheat.com/files/pdf/75.pdf" onclick="window.open(this.href, '_system', 'location=yes'); return false;">75 - NC A&ampT HEAT</ion-item>


 	</div>

  </ion-content>
</ion-view>
