<ion-view view-title="Athletics">
<ion-view view-title="Athletics">
  <ion-content class="custom-gold">
  <!-- Row 1 -->
 	<div class="row">
	 	<div class="col" href="">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74503&SPSID=593291&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Football.png">
	      <h2>Football</h2>
      </div>




        </div>
        <div class="col">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74515&SPSID=593451&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Baseball.png">
	      <h2>Baseball</h2>
      </div>




        </div>
 	</div>

    <!--Row 2 -->
    <div class="row">
	 	<div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74518&SPSID=593463&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	      <img src="resources/Basketball_Men.png">
	      <h2>M. Basketball</h2>
      </div>




        </div>


        <div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74519&SPSID=593465&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Basketball_Women.png">
	      <h2>W. Basketball</h2>
      </div>




        </div>
 	</div>

      <!--Row 3 -->
      <div class="row">
	 	<div class="col col-50" >



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=75895&SPSID=595448&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Cross Country Team.png">
	      <h2>Cross Country</h2>
      </div>




        </div>
        <div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74508&SPSID=593320&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Track.png">
	      <h2>Track & Field</h2>
      </div>




        </div>
 	</div>

    <!--Row 4 -->
      <div class="row">
	 	<div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74509&SPSID=593321&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Softball.png">
	      <h2>Softball</h2>
      </div>




        </div>
        <div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74527&SPSID=594847&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Bowling.png">
	      <h2>Bowling</h2>
      </div>



    </div>
        </div>


       <!--Row 5 -->
      <div class="row">
	 	<div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74507&SPSID=593318&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Swimming.png">
	      <h2>Swimming</h2>
      </div>



        </div>
        <div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74514&SPSID=593343&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/volleyball9.png">
	      <h2>Volleyball</h2>
      </div>




        </div>
 	</div>


        <!--Row 6 -->
      <div class="row">
	 	<div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74511&SPSID=593333&DB_OEM_ID=24500', '_blank', 'location=yes'); return false;">
	     <img src="resources/Tennis_Men.png">
	      <h2>M. Tennis</h2>
      </div>




        </div>
        <div class="col col-50">



      <!-- Image File -->
      <div class="item item-image" href="#" onclick="window.open('http://www.ncataggies.com/SportSelect.dbml?DB_OEM_ID=24500&SPID=74512&SPSID=593342&DB_OEM_ID=24500'); return false;">
          	     <img src="resources/Tennis_Women.png">

	      <h2>W. Tennis</h2>
      </div>




        </div>
 	</div>


  </ion-content>
</ion-view>
