<ion-view view-title="Athletics">
  <ion-content>
  <!-- Row 1 -->
 	<div class="row">
	 	<div class="col" href="">
 
      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Football</h2>
      </div>
      
      
    
 
        </div>
        <div class="col">

      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Baseball</h2>
      </div>
      
      
      

        </div>
 	</div> 
      
    <!--Row 2 -->  
    <div class="row">
	 	<div class="col col-50">

      
      
      <!-- Image File -->
      <div class="item item-image">
	      <img src="resources/sports-slideshow-song.jpg">
	      <h2>M. Basketball</h2>
      </div>
      
      
      

        </div>
        
        
        <div class="col col-50">

      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>W. Basketball</h2>
      </div>
      
      
      

        </div>
 	</div> 
      
      <!--Row 3 -->
      <div class="row">
	 	<div class="col col-50" >

      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Cross Country</h2>
      </div>
      
      
      

        </div>
        <div class="col col-50"> 
  
      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Track & Field</h2>
      </div>
      
      
      

        </div>
 	</div> 
  
    <!--Row 4 -->
      <div class="row">
	 	<div class="col col-50">

      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Softball</h2>
      </div>
      
      
      

        </div>
        <div class="col col-50"> 
 
      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Bowling</h2>
      </div>
      
      
      
    </div>
        </div>
 
      
       <!--Row 5 -->
      <div class="row">
	 	<div class="col col-50">

      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Swimming</h2>
      </div>
      
      

        </div>
        <div class="col col-50"> 

      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>Volleyball</h2>
      </div>
      
      
      

        </div>
 	</div> 
      
      
        <!--Row 6 -->
      <div class="row">
	 	<div class="col col-50">
 
      
      
      <!-- Image File -->
      <div class="item item-image">
	     <img src="resources/sports-slideshow-song.jpg">
	      <h2>M. Tennis</h2>
      </div>
      
      
      

        </div>
        <div class="col col-50"> 

      
      
      <!-- Image File -->
      <div class="item item-image">
          	     <img src="resources/sports-slideshow-song.jpg">

	      <h2>W. Tennis</h2>
      </div>
      
      
      

        </div>
 	</div> 
      
      
  </ion-content>
</ion-view>
