 <ion-nav-bar class="bar-calm custom-blue">
      <ion-nav-back-button>
          </ion-nav-back-button>
    </ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-clear">
  <!-- Home Tab -->
  <ion-tab class="custom-blue" title="Home" icon-off= "ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name ="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab class="custom-blue" title="Notifications" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/notifications">
    <ion-nav-view name ="tab-notifications"></ion-nav-view>
  </ion-tab>

  <!--Camera Tab-->
  <ion-tab class="custom-blue" title="New Post"icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/newpost">
    <ion-nav-view name="tab-newpost"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab --> 
  <ion-tab class="custom-blue" title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name ="tab-profile"></ion-nav-view>
  </ion-tab>
  
  <!-- Map Tab --> 
  <ion-tab class="custom-blue" title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name ="tab-map"></ion-nav-view>
  </ion-tab>
</ion-tabs>
