/*.custom-gold{
  color : white !important;
  background-color:#f4c018 !important;
}*/
.custom-blue{
  color : white !important;
  background-color:#201b57 !important;
}
.login {
  background: url("../resources/Login1.png") no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  text-align: center;
}

input[type="text"] {
    width: 98%;
}

textarea {
    width: 98%;
}

.iframe-wrapper iframe {
   width: 100%;
   height: 100%;
 }

/*
.bar-header {
  top: 20px;
}
.has-header {
   top: 20px;
 }
*/

/*Profile CSS*/
#profile-info {
        position: absolute;
    /*
        top: -95px;
    */
        width: 100%;
        z-index: 2;
    
        text-align: center;
      }
      #profile-name {
        color: #444;
        font-size: 16px;
      }
      #profile-description {
        font-size: 15px;
        color: #888;
      }
      #profile-description a {
        color: #888;
      }

      #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }
