/*.custom-gold{
  color : white !important;
  background-color:#f4c018 !important;
}*/
.custom-blue{
  color : white !important;
  background-color:#201b57 !important;
}
.login {
  background: url("../resources/Login1.png") no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  text-align: center;
}

input[type="text"] {
    width: 98%;
}

textarea {
    width: 98%;
}

.iframe-wrapper iframe {
   width: 100%;
   height: 100%;
 }

.bar { 
    background-image: none !important; 
}

.item{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

ion-side-menu.item-content {
  background-color:#201b57 !important;
    color : white !important;
}

.icons{
    right: 50px;
}


/*Profile CSS*/
#profile-info {
        position: absolute;
        top: -20px;
        right: -5px;
        width: 100%;   
       /* z-index: 2;    */
        width: 100%;
        z-index: 2;
    
        text-align: center;
      }
      #profile-name {
        color: white;
        font-size: 16px;
      }
      #profile-description {
        font-size: 15px;
        color: white;
      }
      #profile-description a {
        color: white;
      }

      #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }
