.custom-gold{
  color : white !important;
  background-color:#f4c018 !important;
}
.custom-blue{
  color : white !important;
  background-color:#201b57 !important;
}
.login {
  background: url("../resources/Login1.png") no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  text-align: center;
}
input, textarea{
    width: 100%;
}

/*
.bar-header {
  top: 20px;
}
.has-header {
   top: 20px;
 }
*/